body {
    background-color: #151515;
}


#main {
    margin: 15px 5px;
    padding: 15px;
    border-radius: 5px;
    background: #A6A6A6;
  }


  #titulo_principal {
    font-family: "UnfinishedScreamRegular";
    src: url("fonts/UnfinishedScreamRegular.ttf") format("truetype");
    font-size: 100px;
    text-align: center;
    margin-top: -15px;
    color: #EA5F21;
    border: 100px; 
    background: #151515;
}

@media (max-width: 460px) {
   #titulo_principal {
    font-size: 80px;
    font-family: "UnfinishedScreamRegular";
    src: url("fonts/UnfinishedScreamRegular.ttf") format("truetype");
   }
}








.texto_bienvenida {
    font-family: "UnfinishedScreamRegular";
    src: url("fonts/UnfinishedScreamRegular.ttf") format("truetype");
    font-size: 40px;
    text-align: center;
    color: white;
    background: #151515;
    margin-top: -30px;
    padding-bottom: 50px;
}

#img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

#fondo_img {
    background: #151515;
    padding: 10px;
    margin: 0;



}

.textopie_imagen {
    font-family: "UnfinishedScreamRegular";
    src: url("fonts/UnfinishedScreamRegular.ttf") format("truetype");
    font-size: 30px;
    text-align: justify;
    color: white;
    border-top: auto;
}

.seccion_libros {
    
    background: white;
}